* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: grid;
    grid-template: 
        'header' 120px
        'main' auto
        'footer' 120px;
    }

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


/* -------------------Header------------------- */

header{
    grid-area: header;
    background-color: #0D0C0C;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
}

.menu-items{
    display: flex;
    gap: 20px;
    font-family: Merienda, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.menu-items li a {
    color: #ECB935;
}

.menu-items li a:hover{
    color: #f7e8c4;
}

.toggle_btn{
    color: #ECB935;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

  /* Dropdown menu */

.dropdown_menu{
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 3.5rem;
    height: 0;
    width: 10rem;
    background-color: rgb(53, 52, 52);
    overflow: hidden;
    transition: height 0.2s 
}

.dropdown_menu.open{
    height: 11rem;
    padding: 0;
}

.dropdown_menu li{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-dm a{
    color: #ECB935;
    font-family: 'Merienda';
    font-size: 16px;
    font-weight: bold;
}

/* -------------------Main Index------------------- */

.main-index, .main-conoceme{
    grid-area: main;
    background-color: #1E1E1E;
    padding: 50px 100px;
}

.main-index{
    min-height: 100%;
    display: grid;
    grid-template: 
        'caja-principal' 1000px
        'sect-galery' auto
        'sect-agenda' auto;
    } 

/* ----Caja principal---- */

.caja-principal{ /**Coloco una imagen como fondo en la sección principal del main**/
    grid-area: caja-principal;
    background-image: url(../img/fondo-main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    justify-content: center;
}

.caja-texto-principal{ /**Descripción del sitio web**/
    text-align: center;
    width: 330px;
    height: 300px;
    margin: 45px;
}

.title-principal{
    font-family: 'Merienda', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #ECB935;
}

.p-main{
    font-family: 'Livvic', sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 0;
}

/* ----Galería Carrusel---- */

.carousel-inner, .sect-agenda{
    width: 100%;
    padding-top: 50px;
}

/* ----Sección Agendar---- */

.sect-agenda{
    grid-area: sect-agenda;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parrafo-agenda{ 
    font-family: 'Merienda', cursive;
    font-size: 20px;
    color: #d9d9d9;
}

.button-agendar{
    background-color: #ECB935;
    width: 108px;
    height: 56px;
    border: none;
    border-radius: 20px;
    font-family: 'Livvic', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #0D0C0C;
}

/* -------------------Footer------------------- */

footer{
    grid-area: footer;
    background-color: #0D0C0C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.menu-items-footer{
    display: flex;
    width: 378px;
    justify-content: space-between;
    font-family: Livvic;
    font-weight: 400px;
    font-size: 14px;
}

.menu-items-footer li a{
    color: rgba(217, 217, 217, .4);
}

/* ----Copyright---- */

.copy-right{
    text-align: center;
    margin: 26px 0 0 0;
    font-family: Livvic;
    font-weight: 400px;
    font-size: 14px;
    color: rgba(217, 217, 217, .4);
}

.copy-right-text{
    margin: 0;
}

/* ----Caja Footer íconos---- */

.caja-footer3{
    display: flex;
    width: 176px;
    justify-content: space-between;
}

.fa-whatsapp, .fa-instagram, .fa-tiktok{
    color: #ECB935;
    font-size: 24px;
    border: solid;
    border-radius: 50%;
    padding: 8px;
}

/* -------------------Main Conóceme------------------- */

.main-conoceme{
    background-color: #1E1E1E;
    display: grid;
    grid-template: 
        'caja-conoceme' 520px
        'sect-mis-trabajos' 680px
        'btn-agenda' 56px;
    }

.caja-conoceme{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.caja-texto-conoceme{
    width: 470px;
    height: 470px;
}

.imagen-persona{
    width: 240px;
    height: 470px;
}

/* ----Sección Mis trabajos---- */

.title-sect{
    text-align: center;
    height: 43px;
    margin-bottom: 50px;
}

.imagenes-mis-trabajos{
    display: grid;
    grid-template-rows: repeat(2, 290px);
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
    justify-items: center;
}

.img-mis-trabajos{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* ----Sección Ideas---- */

.sect-ideas{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}

.title-sect-idea{
    text-align: center;
    margin-bottom: 40px;
}

.imagenes-idea{
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    justify-items: center;
}

.img-idea{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

/* ----Sección Agendar---- */

.btn-agenda{
    display: flex;
    flex-direction: row-reverse;
}

/* ----Textos---- */

.p-main-pages{
    font-family: 'Livvic', sans-serif;
    color: #D9D9D9;
    font-size: 20px;
    margin-top: 24px;
}

.second-title, .third-title{
    font-family: 'Merienda', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #ECB935;
}

.third-title{
    font-size: 24px;
}

.link{
    text-decoration: none;
    font-family: 'Livvic', sans-serif;
    color: #D9D9D9;
    font-size: 14px;
    font-weight: bold;
} 

/* -----------------------------MEDIA QUERIES----------------------------- */

/* -------------------Dispositivos medianos------------------- */

@media(min-width: 670px) and (max-width: 990px){

    body{
        grid-template: 
            'header' 100px
            'main' auto
            'footer' 100px;
        }

    header, footer{
        padding: 0 50px;
    }

    .logo{
        width: 140px;
    }

    .menu-items{
        gap: 10px;
        font-size: 18px;
    }
    
    .main-index{
        padding: 30px 50px;
    } 
    
    .parrafo-agenda{ 
        width: 380px;
    }

/* -------------------Footer------------------- */

    .menu-items-footer{
        width: 250px;
        font-size: 12px;
        justify-content: space-between;
        padding: 0;
    }

    /* ----Copyright---- */

    .copy-right{
        text-align: center;
        margin: 16px 0 0 0;
        font-size: 12px;
    }

    /* ----Caja Footer íconos---- */

    .caja-footer3{
        width: 150px;
    }

    .fa-whatsapp, .fa-instagram, .fa-tiktok{
        font-size: 20px;
        padding: 8px;
    }

}

/* -------------------Dispositivos pequeños------------------- */

@media (max-width: 669px) {

    body{
        grid-template: 
            'header' 56px
            'main' auto
            'footer' 56px;
        }

    header, footer{
        padding: 0 24px;
    }

    .logo{
        width: 95px;
    }

    .menu-items, .action_btn{
        display: none;
    }
    
    .menu-nav .toggle_btn {
        display: block;
    }
    
    .dropdown_menu{
        display: block;
    }

    .toggle_btn{
        align-items: end;
        padding: 1rem 0.63rem;
    }

    .dropdown_menu li a{
        display: block;
    }

    .dropdown_menu li:hover a{
        color: #f7e8c4;
    }

/* -------------------Main Index------------------- */

    .main-index{
        padding: 24px;
    }

    .main-index{
        grid-template: 
            'caja-principal' 300px
            'sect-galery' auto
            'sect-agenda' auto;    
    } 
    
    /* ----Caja principal---- */
    
    .caja-texto-principal{
        width: 160px;
        height: 160px;
        margin: 20px;
    }
    
    .title-principal{
        font-size: 20px;
    }
    
    .p-main{
        font-size: 14px;
    }
    
    /* ----Galería Carrusel---- */
    
    .carousel-inner, .sect-agenda{
        width: 100%;
        padding-top: 32px;
    }

    .parrafo-agenda{ 
        width: 170px;
        font-size: 14px;
    }
    
    /* -------------------Footer------------------- */

    .menu-items-footer{
        display: none;
    }

/* ----Copyright---- */

    .copy-right{
        margin: 0;
        font-size: 12px;
    }

    /* ----Caja Footer íconos---- */

    .caja-footer3{
        width: 120px;
    }

    .fa-whatsapp, .fa-instagram, .fa-tiktok{
        font-size: 16px;
        padding: 5px;
    }

    } 


