.main-index{
    @extend .main-general;
    display: grid;
    grid-template: 
        'caja-principal' 800px
        'sect-galery' auto
        'sect-agenda' auto;
    /* ----Caja principal---- */
    .caja-principal{
        grid-area: caja-principal;
        background-image: url(../img/fondo-main.png);
        @extend %background-image-properties;
        @extend %flex-jcenter;
        width: 100%;
        .caja-texto-principal{ /**Descripción del sitio web**/
            text-align: center;
            width: 330px;
            height: 300px;
            margin: 45px;
        }        
    }
    /* ----Galería Carrusel---- */
    .carousel-inner, .sect-agenda{
        width: 100%;
        padding-top: 50px;
    }
    /* ----Sección Agendar---- */
    .sect-agenda{
        grid-area: sect-agenda;
        @extend %flex-space-center;
        .parrafo-agenda{ 
            font-family: $primary-font-f;
            font-size: 20px;
            color: $second-color;
        }
    }
}