.main-promociones{
    @extend .main-general;
    @extend %flex-wrap;
    .caja-promociones{ 
        @extend %flex-column-items-center;
        width: 100%;
        margin-bottom: 50px;
        background-image: url(../img/tt/desktop-wallpaper-tattoo-artist.jpg);
        @extend %background-image-properties;
        .caja-texto-promociones{
            text-align: center;
            width: 55%;
            height: auto;
            margin: 45px;
            background-color: #1e1e1e94;
            padding: 10px;
            border-radius: 10px;
        }            
    }
    .concurso{
        @extend %flex-column-center;
        width: 100%;
        height: 200px;
        margin-bottom: 50px;    
        background-color: #0d0c0cb0;
        border: 2px solid $primary-color;
        border-radius: 10px;
        .text-concurso{
            @extend %flex-column-items-center;
            gap: 10px;
            text-align: center;
            width: 100%;
        }    
    }
    .sect-prom{
        display: flex;
        gap: 20px;
        margin-bottom: 50px;
        .card{
            border: none;
            .card-body{
                background-color: $bg-main;
                .link-promo{
                    text-decoration: none;
                    color: $primary-color;
                }        
            }    
        }    
    }
    .btn-agenda-p{
        @extend %flex-jcenter;
        width: 100%;
        height: 56px;
    }        
}