footer{
    grid-area: footer;
    background-color: #0D0C0C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    .caja-footer2{
        .menu-nav-footer{
            .menu-items-footer{
                display: flex;
                width: 378px;
                justify-content: space-between;
                font-family: Livvic;
                font-weight: 400px;
                font-size: 14px;
                li{
                    a{
                        color: rgba(217, 217, 217, .4);
                    }
                }
            }            
        }
        .copy-right{
            text-align: center;
            margin: 26px 0 0 0;
            font-family: Livvic;
            font-weight: 400px;
            font-size: 14px;
            color: rgba(217, 217, 217, .4);
            .copy-right-text{
                margin: 0;
            }    
        }        
    }
    /* ----Caja Footer íconos---- */
    .caja-footer3{
        display: flex;
        width: 176px;
        justify-content: space-between;
        .fa-whatsapp, .fa-instagram, .fa-tiktok{
            color: #ECB935;
            font-size: 24px;
            border: solid;
            border-radius: 50%;
            padding: 8px;
        }    
    }
}