header {
    grid-area: header;
    background-color: $bg-hf;
    @include flex(flex,row,space-between,center);
    padding: 0 100px;
    .nav-links{
        display: flex;
        gap: 20px;
        font-family: $primary-font-f;
        font-weight: bold;
        font-size: 20px;
        margin: 0;
        padding: 0;
        li a {
            color: $primary-color;
            &:hover{
                color: $hover-color;
            }     
        }     
    }     
}

/* Estilos para el menú hamburguesa */

.menu-toggle{
    display: none;
}
.menu-btn{
    display: none;
}
.menu-icon {
    width: 25px;
    height: 3px;
    background-color: #ECB935;
    margin: 3px 0;
    transition: 0.4s;
}