.button-agendar{
    background-color: $bg-main;
    width: 108px;
    height: 56px;
    border: 2px solid $primary-color;
    border-radius: 20px;
    font-family: $second-fond-f;
    font-size: 20px;
    font-weight: bold;
    color: $primary-color;
    &:hover{
        background-color: $primary-color;
        color: $bg-hf;
    }
}

.button-enviar{
    background-color: $second-color;
    margin-top: 24px;
    width: 78px;
    height: 36px;
    border: none;
    border-radius: 20px;
    font-family: $second-fond-f;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}    