.main-cotiza{
    @extend .main-general;
    @extend %flex-wrap;
    .caja-cotiza, .caja-texto-cotiza{
        justify-content: center;
        .caja-texto-cotiza{
            width: 100%;
            padding: 0 50px;
        }    
    }
    .form{
        margin-top: 30px;
    }
    .sect-saber{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
        background-image: url(../img/Background/fondo-negro.webp);
        @extend %background-image-properties;
        box-sizing: border-box;
        margin-top: 50px;
        padding: 30px;
        .text-saber{
            background-color: #1e1e1e94;
            padding: 20px;
            border-radius: 10px;
        }
    }    
}