.main-promociones{
    @extend .main-general;
    @extend %flex-wrap;
    .caja-promociones{
        @include flex(flex,column,normal,center);
        width: 100%;
        margin-bottom: 50px;
        background-image: url(../img/Background/Main-promociones.webp);
        @extend %background-image-properties;
        .caja-texto-promociones{
            text-align: center;
            width: 55%;
            height: auto;
            margin: 45px;
            background-color: #1e1e1e94;
            padding: 10px;
            border-radius: 10px;
        }            
    }
    .concurso{
        @include flex(flex,column,center,center);
        width: 100%;
        height: 200px;
        margin-bottom: 50px;    
        background-color: #0d0c0cb0;
        border: 2px solid $primary-color;
        border-radius: 10px;
        .text-concurso{
            @include flex(flex,column,normal,center);
            gap: 10px;
            text-align: center;
            width: 100%;
        }    
    }
    .sect-prom{
        display: flex;
        gap: 20px;
        margin-bottom: 50px;
        .card{
            border: none;
            box-shadow: 0 5px 8px 0 #0d0c0cb0;
            .card-img-top{
                height: 180px;
                object-fit: cover;
            }
            .card-body{
                background-color: $bg-main;
                height: 185px;
                .link-promo{
                    text-decoration: none;
                    color: $primary-color;
                }        
            }    
        }    
    }
    .btn-agenda-p{
        @include flex(flex,row,center,normal);
        width: 100%;
        height: 56px;
    }        
}