* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
    display: grid;
    grid-template: 
        'header' 120px
        'main' auto
        'footer' 120px;
    }

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ----Textos---- */

.title-principal{
    @extend .principal-font;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.p-main{
    font-family: $second-fond-f;
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}            

.p-main-pages{
    @extend .second-font;
    font-size: 16px;
}

.second-title, .third-title{
    @extend .principal-font;
    font-size: 30px;
    font-weight: bold;
}

.third-title{
    font-size: 20px;
}

.link{
    text-decoration: none;
    font-family: $second-fond-f;
    color: $hover-color;
    font-size: 14px;
    font-weight: bold;
} 

p{
    margin-bottom: 0;
}

.label{
    @extend .second-font;
    font-weight: 400;
    font-size: 16px;
} 

.subtitle{
    font-family: $primary-font-f;
    font-size: 16px;
    font-weight: bold;
    color: $second-color;
    padding-top: 16px;
}